<?xml version="1.0"?>

<model>
    <name>monopod-simple</name>
    <version>1.0</version>
    <sdf version='1.8'>monopod-simple.urdf</sdf>

    <author>
        <name>Dawson Horvath</name>
        <email>Horvath.dawson@gmail.com</email>
    </author>
    <description>
        planarized monopod model.
    </description>
</model>
